/* ==========================
  GENERAL STYLING
========================== */

:root {
  --bg-color: linear-gradient(180deg, #0b1f3e, #4490ad, #45ddf3);
  --white-color: #fff;
  --light-blue: #e0e9ff;
  --dark-blue: #0c2342;
  --general-font: "DM Sans", sans-serif;
  --bg-color-box: rgb(187, 187, 187, 0.4);

  --biology-color: #166534;
  --biology-bg-color: #dcfce7;

  --chemistry-color: #1e3a8a;
  --chemistry-bg-color: #dbeafe;

  --physics-color: #9a3412;
  --physics-bg-color: #ffedd5;

  --green: #10b981;
  --orange: #f59e0b;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--general-font);
}

body {
  min-height: 100vh;
  margin: 3.5rem 0 1rem;
  background: var(--bg-color);
}

/* ==========================
  SUBJECT TAGS
========================== */

.bio,
.chem,
.phy {
  padding: 5px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 7px;
}

.bio {
  color: var(--biology-color);
  background: var(--biology-bg-color);
}

.chem {
  color: var(--chemistry-color);
  background: var(--chemistry-bg-color);
}

.phy {
  color: var(--physics-color);
  background: var(--physics-bg-color);
}

/* ==========================
  HEADER
========================== */

/* .header-form {
  padding-top: 3.5rem;
} */

.header-form #title,
.header-form #sub-title {
  text-align: center;
  color: var(--white-color);
}

.header-form #title {
  font-size: 6rem;
  font-family: Roboto, sans-serif;
}

.header-form #sub-title {
  font-size: 1.5rem;
  display: block;
}

/* ==========================
  MAIN
========================== */

.main-form {
  width: 100%;
  margin-top: 2.5rem;
  padding-inline: clamp(15px, 5vw, 250px); /* bad form -> padding: 0 250px; */
}

/* Tracker */

.main-form .tracker {
  margin: 0 auto;
  display: flex;
  gap: 1.5rem;
  max-width: 800px;
}

.main-form .progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--light-blue);
  flex: 1;
}

.tracker div.score {
  max-width: fit-content;
}

.main-form .progress-bar {
  height: 0.7rem;
  border-radius: 1.5rem;
  background-color: var(--bg-color-box);
}

.main-form .bar {
  accent-color: var(--green);
  background-color: var(--bg-color-box);
  height: 0.7rem;
  border-radius: 1rem;
  overflow: hidden;
  max-width: 700px;
}

.main-form .bar #progress-bar {
  accent-color: var(--green);
  background-color: var(--green);
  height: 100%;
  width: 0%;
  border-radius: 1rem;
  transition: all ease 0.5s;
}

.main-form div.score {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  background-color: var(--bg-color-box);
  color: var(--light-blue);
  font-weight: bold;
}

.main-form span.score-number {
  margin-left: 5px;
  font-size: 1.5rem;
  vertical-align: middle;
}

/* ==========================
  GRID
========================== */

.main-form .grid-cards {
  display: grid;
  margin-top: 5rem;
  gap: 1.3rem;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(200px, 270px));
  grid-auto-rows: 220px;
}

.main-form .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 1rem;

  /* cursor: pointer; */
  transition: all 0.7s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  position: relative;
  transition: all 0.55s;
}

.card.flipped .recto {
  transform: rotateY(-180deg);
}

.card.flipped .verso {
  transform: rotateY(0deg);
}

.card.checked .grid-item {
  opacity: 0.5;
  border: 3px solid #0f9432;
}

.main-form .grid-cards > .card:not(.checked):hover {
  transform: translateY(-0.3rem);
}

/* The checked card can't have an event anymore i've just learned this property 🙂*/
/* .card.checked {
  pointer-events: none;
} */

.main-form .recto {
  position: absolute;
  backface-visibility: hidden;
}

.main-form .verso {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

.main-form .verso .btns {
  display: flex;
  margin-top: 1.5rem;
  gap: 1rem;
}

.main-form .verso .btns > span.btn {
  font-size: 0.8rem;
  margin: 0;
  padding: 12px 18px;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: var(--chemistry-color);
  color: var(--white-color);
}

.main-form .verso .btns span.check {
  background-color: var(--green);
}

.main-form .verso .btns span.read {
  background-color: var(--orange);
}

/* ==========================
  BUTTON
========================== */

.main-form .btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.main-form .btn #play-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 0.5rem;

  background-color: var(--dark-blue);
  color: var(--white-color);

  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s;
}

.main-form .btn #play-btn:active {
  opacity: 0.8;
}

.congrats.hidden {
  display: none;
}

.congrats.show {
  display: block;
  background-color: var(--white-color);
  max-width: 800px;
  border-radius: 1rem;
  padding: 3rem 1rem;
  text-align: center;
  margin: 3rem auto 0;
  line-height: 1.6;
}

/* ==========================
  FOOTER
========================== */

.footer-form {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.footer-form .copy-rights {
  color: var(--dark-blue);
  font-weight: bold;
}

/* ==========================
  RESPONSIVE
========================== */

/* Tablet */

@media (max-width: 1023px) {
  .header-form #title {
    font-size: 4.5rem;
  }

  .header-form #sub-title {
    font-size: 1.7rem;
  }

  .main-form .grid-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  }
}

/* Mobile */

@media (max-width: 767px) {
  .header-form #title {
    font-size: 3rem;
  }

  .header-form #sub-title {
    font-size: 1.3rem;
  }

  .tracker .progress-bar {
    width: auto;
    height: 3px;
    padding: 0.3rem;
  }
}
