/* ==========================
  GENERAL STYLING
========================== */

:root {
  --bg-color: linear-gradient(180deg, #0b1f3e, #4490ad, #45ddf3);
  --white-color: #fff;
  --light-blue: #e0e9ff;
  --dark-blue: #0c2342;
  --general-font: "DM Sans", sans-serif;
  --bg-color-box: rgb(187, 187, 187, 0.4);

  --biology-color: #166534;
  --biology-bg-color: #dcfce7;

  --chemistry-color: #1e3a8a;
  --chemistry-bg-color: #dbeafe;

  --physics-color: #9a3412;
  --physics-bg-color: #ffedd5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--general-font);
}

body {
  min-height: 100vh;
  margin: 3.5rem 0 1rem;
  background: var(--bg-color);
}

/* ==========================
  SUBJECT TAGS
========================== */

.bio,
.chem,
.phy {
  padding: 5px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.bio {
  color: var(--biology-color);
  background: var(--biology-bg-color);
}

.chem {
  color: var(--chemistry-color);
  background: var(--chemistry-bg-color);
}

.phy {
  color: var(--physics-color);
  background: var(--physics-bg-color);
}

/* ==========================
  HEADER
========================== */

/* .header-form {
  padding-top: 3.5rem;
} */

.header-form #title,
.header-form #sub-title {
  text-align: center;
  color: var(--white-color);
}

.header-form #title {
  font-size: 6rem;
  font-family: Roboto, sans-serif;
}

.header-form #sub-title {
  font-size: 1.5rem;
}

/* ==========================
  MAIN
========================== */

.main-form {
  width: 100%;
  margin-top: 2.5rem;
  padding-inline: clamp(15px, 5vw, 250px); /* bad form -> padding: 0 250px; */
}

/* Tracker */

.main-form .tracker {
  display: flex;
  justify-content: space-around;
}

.main-form .progress {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--light-blue);
  flex-wrap: wrap;
}

.main-form .progress-bar {
  width: 550px;
  height: 0.7rem;
  border-radius: 1.5rem;
  background-color: var(--bg-color-box);
}

.main-form div.score {
  padding: 0.5rem 1rem;
  border-radius: 0.8rem;
  background-color: var(--bg-color-box);
  color: var(--light-blue);
  font-weight: bold;
}

.main-form span.score-number {
  margin-left: 5px;
  font-size: 1.5rem;
  vertical-align: middle;
}

/* ==========================
  GRID
========================== */

.main-form .grid-cards {
  display: grid;
  margin-top: 5rem;
  gap: 3rem;
  justify-content: center;
  grid-template-columns: repeat(3, minmax(250px, 350px));
  grid-auto-rows: 200px;
}

.main-form .grid-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 1rem;
  text-align: center;
  background-color: var(--white-color);
  border-radius: 1rem;

  cursor: pointer;
  transition: all 1s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
}

.card {
  display: flex;
  position: relative;
  transition: all 0.55s;
}

.main-form .grid-cards > .card:hover {
  transform: translateY(-1rem);
}

.main-form .recto {
  position: absolute;
}

.main-form .verso {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}

/* ==========================
  BUTTON
========================== */

.main-form .btn {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
}

.main-form .btn #play-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 0.5rem;

  background-color: var(--dark-blue);
  color: var(--white-color);

  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s;
}

.main-form .btn #play-btn:active {
  opacity: 0.8;
}

/* ==========================
  FOOTER
========================== */

.footer-form {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.footer-form .copy-rights {
  color: var(--dark-blue);
  font-weight: bold;
}

/* ==========================
  RESPONSIVE
========================== */

/* Tablet */

@media (max-width: 1023px) {
  .header-form #title {
    font-size: 4.5rem;
  }

  .header-form #sub-title {
    font-size: 1.7rem;
  }

  .main-form .grid-cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  }
}

/* Mobile */

@media (max-width: 767px) {
  .header-form #title {
    font-size: 3rem;
  }

  .header-form #sub-title {
    font-size: 1.3rem;
  }

  .main-form .tracker {
    flex-direction: column;
    gap: 1rem;
  }

  .tracker div.score {
    width: fit-content;
  }

  .tracker .progress-bar {
    width: auto;
    height: 3px;
    padding: 0.3rem;
  }
}

/* Some changes will come soon*/
