:root {
  --red: #e74c3c;
  --green: #2ecc71;
  --white: #fff;
  --black: #000;
  --light-gray: #ccc;
  --blue: #3498db;
}

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  max-width: 400px;
  background-color: var(--white);
}

form#form {
  padding: 30px 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

form#form h1#title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

form#form .box {
  position: relative;
}

form#form .box label {
  font-size: 1rem;
}

form#form .box label:not([for="username"]) {
  display: inline-block;
  margin-top: 1.5rem;
}

form#form .box input {
  display: inline-block;
  padding: 0.5rem;
  width: 100%;
  margin-top: 0.3rem;
  border: 2px solid #f0f0f0;
}

form#form .box input:focus {
  outline: 0;
  border-color: #777;
}

.submit-btn {
  margin-top: 2rem;
}

.submit-btn #submit {
  padding: 12px 18px;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid var(--blue);
}

.submit-btn #submit,
form#form .box input {
  border-radius: 0.3rem;
  cursor: pointer;
}

.submit-btn #submit:active {
  opacity: 0.8;
}

form#form .box.valid input {
  border: 2px solid var(--green);
}

form#form .box.invalid input {
  border: 2px solid var(--red);
}

form#form .box.invalid .error-message {
  visibility: visible;
}

.error-message {
  visibility: hidden;
  position: absolute;
  left: 7px;
  bottom: -1.2rem;
  color: var(--red);
  font-size: 0.8rem;
}
